.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: indianred;
}

.form-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 400px;
}

h2 {
  color: #333333;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  color: #666666;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.btn {
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 20px;
  transition: background-color 0.3s;
}

.btn-success {
  background-color: rgba(15, 10, 29, 0.82);
  width: 100%;
}

.btn-default {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  color: #212529;
  text-align: center;
}

.btn:hover {
  filter: brightness(90%);
}
