<!-- <p>add works!</p> -->
<div class="add">
  <div class="container2">
    <div class="row2">
      <div class="col-md-12">
        <div class="caption">
          <h1>
            <span>Stay</span> Comfortable, <br />
            Look
            <span> Stylish</span>
          </h1>
          <div class="line-dec"></div>
          <p>
            Trade-in-offer!
            <br />
            Super value deals On All Products!
            <br />
            Save more with coupons & up to 70% off!
          </p>
          <div class="main-button">
            <a routerLink="/cart">Order Now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
