<header>
  <nav class="nav1">
    <div class="left">
      <span>Welcome to my E-shop</span>
      <a routerLink="/signup">Register</a> OR
      <a routerLink="/">Login</a>
    </div>
    <div class="right">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-whatsapp"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-pinterest"></i>
    </div>
  </nav>

  <div class="nav2">
    <div class="nav2-left">
      <i class="fa fa-phone"></i> +91 1325047698 <br />
      <i class="fa fa-envelope"></i>{{ "  styleHive@gmail.com" }}
    </div>
    <div class="nav2-center">
      <h1>Style<span>Hive</span></h1>
      <p>Everything for Your world</p>
    </div>
    <div class="nav2-right"><i class="fa fa-map"></i> Contact us</div>
  </div>
</header>
