<!-- <p>about works!</p> -->
<main>
  <app-nav3 />
  <div id="page-header2" class="about-header">
    <h1>#KnowUs</h1>
    <p>EVERYDAY NEW OFFER'S</p>
  </div>
  <div class="about-container">
    <section class="about-section">
      <div class="about-image">
        <img src="assets/images/a2.jpg" alt="About Us Image" />
      </div>
      <div class="about-info">
        <h1>Welcome to StyleHilve</h1>
        <p>
          At StyleHilve Family, we are dedicated to providing the best products
          for our customers. Our mission is to offer high-quality apparel and
          accessories that reflect the unique style and personality of each
          individual.
        </p>
        <p>
          With a focus on creativity and innovation, we strive to exceed
          expectations and inspire confidence in every purchase. Join the
          StyleHilve Family today!
        </p>
      </div>
    </section>
  </div>
  <div id="feature">
    <div class="feature-box">
      <img src="assets/images/free-delivery.png" alt="" />
      <h6>Free Shipping</h6>
    </div>
    <div class="feature-box">
      <img src="assets/images/online-shopping.png" alt="" />
      <h6>Online Order</h6>
    </div>
    <div class="feature-box">
      <img src="assets/images/piggy-bank.png" alt="" />
      <h6>Save Money</h6>
    </div>
    <div class="feature-box">
      <img src="assets/images/promotion.png" alt="" />
      <h6>Promotions</h6>
    </div>
    <div class="feature-box">
      <img src="assets/images/seller.png" alt="" />
      <h6>Happy Sell</h6>
    </div>
    <div class="feature-box">
      <img src="assets/images/telephone.png" alt="" />
      <h6>24/7 Support</h6>
    </div>
  </div>
</main>
